@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

:root {
  --font-sans: "Inter", "sans-serif";
  --bold: 700;
  --semibold: 600;
  --medium: 500;
  --regular: 400;
  --Neutral-700: #212B38;
  --Neutral-600: #464E6A;
  --Neutral-500: #6D758F;
  --Neutral-400: #B4B9C9;
  --Neutral-300: #E1E4ED;
  --Neutral-200: #FFFFFF;
  --border-small: 4px;
  --border-regular: 8px;
  --border-large: 16px;
}

p, h2, h3 {
  color: var(--Neutral-500);
}

p {
  line-height: 1.55;
}

h1 {
  font-weight: var(--semibold);
  font-size: 1.75rem;
  line-height: 1.2;
  color: var(--Neutral-600);
}
@media (min-width: 85.375rem) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-weight: var(--semibold);
  font-size: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 85.375rem) {
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-weight: var(--semibold);
  font-size: 1.125rem;
  line-height: 1.2;
}

h4 {
  font-weight: var(--semibold);
  font-size: 1.125rem;
  line-height: 1;
  color: var(--Neutral-300);
}

body {
  font-size: 16px;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.container {
  display: flex;
  padding: 0 1rem;
}
@media (min-width: 36rem) {
  .container {
    padding: 0;
    max-width: 33.75rem;
    margin: 0 auto;
  }
}
@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
}
@media (min-width: 64rem) {
  .container {
    max-width: 56.25rem;
  }
}
@media (min-width: 85.375rem) {
  .container {
    max-width: 76rem;
  }
}

.button {
  height: 3rem;
  padding: 0 2rem;
  border-radius: var(--border-regular);
  font-size: 1.125rem;
  font-weight: var(--semibold);
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 11rem;
  width: -moz-fit-content;
  width: fit-content;
  background: var(--Neutral-600);
  color: var(--Neutral-200);
  transition: 0.3s ease-in-out;
}
.button:hover {
  background: var(--Neutral-700);
  text-decoration: none;
}
.button.--borda {
  background: none;
  color: var(--Neutral-500);
  border: 0.125rem solid currentColor;
}

.section {
  padding-bottom: 4rem;
}
@media (min-width: 48rem) {
  .section {
    padding-bottom: 5rem;
  }
}
@media (min-width: 85.375rem) {
  .section {
    padding-bottom: 6rem;
  }
}
.section .subtitulo {
  color: var(--Neutral-400);
  font-size: 1.125rem;
  font-weight: var(--bold);
  line-height: 1.2;
}
.section .highlight {
  color: var(--Neutral-400);
}
.section .underline {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-underline-offset: 0.25rem;
  text-decoration-color: var(--Neutral-400);
}

.swiper-pagination {
  position: static !important;
  margin-top: 2.5rem;
}
@media (min-width: 85.375rem) {
  .swiper-pagination {
    margin-top: 3.5rem;
  }
}
.swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--Neutral-300);
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--Neutral-500);
}

header {
  background: var(--Neutral-700);
  padding: 1.5rem 0;
  width: 100%;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
header .container {
  align-items: center;
  justify-content: space-between;
}
header .container #menu {
  width: 2rem;
  height: 2rem;
}
header .container #menu span {
  position: absolute;
  left: -9999999px;
}
header .container #menu div {
  width: 1.75rem;
  height: 0.1125rem;
  background: var(--Neutral-500);
  display: flex;
  position: relative;
  margin: 0 auto;
  transition: 0.1s all ease-in-out;
}
header .container #menu div::before, header .container #menu div::after {
  display: block;
  content: "";
  width: 1.75rem;
  height: 0.1125rem;
  background: var(--Neutral-500);
  position: absolute;
  transition: 0.2s all ease-in-out;
}
header .container #menu div::before {
  transform: translateY(-0.375rem);
}
header .container #menu div::after {
  transform: translateY(0.375rem);
}
header .container #nav {
  position: absolute;
  height: calc(100vh - 5.375rem);
  width: 20.5rem;
  top: 5.375rem;
  right: -20.5rem;
  background: var(--Neutral-700);
  padding: 2.5rem 1rem 0;
  z-index: 6;
  visibility: hidden;
  transition: 0.34s ease-in-out;
}
header .container #nav .internal-nav {
  margin-bottom: 2rem;
}
header .container #nav .internal-nav li {
  width: -moz-fit-content;
  width: fit-content;
}
header .container #nav .internal-nav li:not(:last-child) {
  margin-bottom: 1rem;
}
header .container #nav .internal-nav li a {
  font-weight: var(--medium);
  font-size: 1rem;
  line-height: 1.2;
  padding: 0.90625rem 1rem;
  color: var(--Neutral-500);
  transition: 0.2s ease-in-out;
}
header .container #nav .internal-nav li a:hover {
  color: var(--Neutral-300);
}
header .container #nav .nav-ctas {
  display: flex;
  flex-direction: column;
}
header .container #nav .nav-ctas .button {
  font-size: 1rem;
  width: 100%;
}
header .container #nav .nav-ctas .button.button-sign {
  background: var(--Neutral-500);
  transition: 0.3s ease-in-out;
  border: 0.125rem solid transparent;
}
header .container #nav .nav-ctas .button.button-sign:hover {
  background: none;
  color: var(--Neutral-400);
  border: 0.125rem solid currentColor;
}
header .container #nav .nav-ctas .button.button-user {
  margin-top: 1rem;
  color: var(--Neutral-500);
  transition: 0.3s ease-in-out;
}
header .container #nav .nav-ctas .button.button-user svg {
  margin-right: 0.625rem;
}
header .container #nav .nav-ctas .button.button-user svg path {
  transition: 0.3s ease-in-out;
}
header .container #nav .nav-ctas .button.button-user:hover {
  background: var(--Neutral-400);
  border-color: var(--Neutral-400);
  color: var(--Neutral-500);
}
header .container #nav .nav-ctas .button.button-user:hover svg path {
  fill: var(--Neutral-500);
}
header.ativo::before {
  display: block;
  position: absolute;
  top: 5.375rem;
  content: "";
  width: 100vw;
  height: calc(100vh - 5.375rem);
  background: rgba(0, 0, 0, 0.3);
}
header.ativo .container #menu div {
  background: transparent;
}
header.ativo .container #menu div::before {
  transform: rotate(45deg);
}
header.ativo .container #menu div::after {
  transform: rotate(-45deg);
}
header.ativo .container #nav {
  visibility: visible;
  right: 0;
}

@media (min-width: 85.375rem) {
  header .container #menu {
    display: none;
  }
  header .container #nav {
    position: static;
    height: auto;
    background: none;
    width: auto;
    padding: 0;
    visibility: visible;
    transition: none;
    display: flex;
    align-items: center;
  }
  header .container #nav .internal-nav {
    display: flex;
    margin: 0 1.5rem 0 0;
  }
  header .container #nav .internal-nav li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
  header .container #nav .nav-ctas {
    flex-direction: row;
  }
  header .container #nav .nav-ctas .button {
    width: -moz-fit-content;
    width: fit-content;
    min-width: 0;
  }
  header .container #nav .nav-ctas .button.button-user {
    margin-top: 0rem;
    margin-left: 1rem;
  }
}
main {
  padding: 8.375rem 0 4rem;
}
main .container {
  flex-direction: column;
}
main .container .main-info p {
  margin: 0 auto;
  max-width: 25rem;
  text-align: center;
}
main .container .main-info h1 {
  text-align: center;
  margin: 2.5rem 0 1rem;
}
main .container .main-info .button {
  margin: 2.5rem auto 0;
}

@media (min-width: 48rem) {
  main {
    padding-bottom: 5rem;
  }
  main .container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  main .container img {
    order: 2;
    max-width: 22.5rem;
    border-radius: var(--border-regular);
  }
  main .container .main-info p,
  main .container .main-info h1 {
    text-align: left;
  }
  main .container .main-info h1 {
    margin-top: 0;
  }
  main .container .main-info p {
    max-width: 20rem;
    margin-right: 0;
    margin-left: 0;
  }
  main .container .main-info .button {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 85.375rem) {
  main {
    padding: 9.125rem 0 3.125rem;
  }
  main .container img {
    max-width: 39rem;
  }
  main .container .main-info {
    max-width: 30.5rem;
  }
  main .container .main-info p {
    width: 100%;
    max-width: none;
    font-size: 1.125rem;
  }
}
.servicos {
  overflow: hidden;
}
.servicos .container {
  flex-direction: column;
  padding-right: 0;
}
.servicos .container h2 {
  margin-bottom: 3rem;
}
.servicos .container .swiper {
  width: 100%;
  padding-right: 1rem;
  -webkit-clip-path: inset(-100vw -100vw -100vw 0);
          clip-path: inset(-100vw -100vw -100vw 0);
}
@media (min-width: 36rem) {
  .servicos .container .swiper {
    padding-right: 0;
  }
}
.servicos .container .swiper .card {
  border-radius: var(--border-regular);
  overflow: hidden;
  box-shadow: 0 0.25rem 1rem 0 rgba(180, 185, 201, 0.4);
  width: 17.5rem;
}
.servicos .container .swiper .card-image {
  width: 100%;
  background: var(--Neutral-400);
  height: 10rem;
}
.servicos .container .swiper .card-info {
  padding: 1.25rem 1.25rem 2rem;
}
.servicos .container .swiper .card-info h3 {
  margin-bottom: 1.25rem;
}
.servicos .container .swiper .card-info .card-lista-item p {
  display: flex;
}
.servicos .container .swiper .card-info .card-lista-item p::before {
  content: url(assets/icon/card-info_icon.svg);
  margin: 0.25rem 0.625rem 0 0;
}
.servicos .container .swiper .card-info .card-lista-item:not(:last-child) {
  margin-bottom: 1rem;
}
.servicos .container .swiper .swiper-button-prev, .servicos .container .swiper .swiper-button-next {
  display: none;
}

@media (min-width: 36rem) {
  .servicos .container-slide .swiper {
    overflow: visible;
  }
}
@media (min-width: 85.375rem) {
  .servicos {
    padding-top: 6rem;
  }
  .servicos .container-slide .swiper {
    overflow: hidden;
  }
  .servicos .container-slide .swiper .swiper-button-next, .servicos .container-slide .swiper .swiper-button-prev {
    display: block;
    height: 100%;
    width: 11rem;
    top: 0;
    z-index: 7;
    opacity: 1;
    visibility: visible;
    transition: 0.15s ease-in-out;
  }
  .servicos .container-slide .swiper .swiper-button-next::after, .servicos .container-slide .swiper .swiper-button-prev::after {
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    color: var(--Neutral-500);
    font-weight: var(--bold);
  }
  .servicos .container-slide .swiper .swiper-button-next.swiper-button-disabled, .servicos .container-slide .swiper .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
  }
  .servicos .container-slide .swiper .swiper-button-next {
    right: 0;
    background: linear-gradient(270deg, #FFF 16.15%, rgba(255, 255, 255, 0) 100%);
  }
  .servicos .container-slide .swiper .swiper-button-next::after {
    right: 0;
  }
  .servicos .container-slide .swiper .swiper-button-prev {
    left: 0;
    background: linear-gradient(90deg, #FFF 16.15%, rgba(255, 255, 255, 0) 100%);
  }
  .servicos .container-slide .swiper .swiper-button-prev::after {
    left: 0.125rem;
  }
}
.numbers .container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers .container .subtitulo {
  text-transform: uppercase;
  text-align: center;
}
.numbers .container h2 {
  text-align: center;
  margin: 0.5rem 0 2.5rem;
  font-weight: var(--bold);
  padding: 0 0.25rem;
}
.numbers .container .number-item {
  width: 100%;
  max-width: 24rem;
  padding: 2.5rem 4.5rem;
}
.numbers .container .number-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.numbers .container .number-item h3 {
  font-size: 3.5rem;
  font-weight: var(--bold);
  color: var(--Neutral-500);
  text-align: center;
}
.numbers .container .number-item p {
  color: #B3BAD0;
  text-align: center;
}
.numbers .container .button {
  margin-top: 3rem;
}

@media (min-width: 48rem) {
  .numbers .number-lista {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .numbers .number-lista .number-item {
    width: 13.75rem;
    padding: 2.5rem 0;
  }
}
@media (min-width: 85.375rem) {
  .numbers .number-lista .number-item {
    width: 24rem;
    padding: 2.5rem 4.5rem;
  }
  .numbers .number-lista .number-item h3 {
    font-size: 4rem;
  }
}
.depoimentos .container {
  flex-direction: column;
}
.depoimentos .container h2 {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 85.375rem) {
  .depoimentos .container h2 {
    margin-bottom: 4rem;
  }
}
.depoimentos .container-slide .swiper {
  width: 100%;
}
.depoimentos .container-slide .swiper .depoimento-card {
  width: 18.75rem;
  max-width: 31rem;
  position: relative;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-foto {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: var(--Neutral-300);
  margin: 0 auto -2.5rem;
  position: relative;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento {
  padding: 3.5rem 1.25rem 3rem;
  border-radius: var(--border-large);
  border: 0.09375rem solid rgba(70, 78, 106, 0.6);
  background: var(--Neutral-200);
  transition: 0.3s ease-in-out;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-nome {
  color: var(--Neutral-600);
  font-size: 1.25rem;
  font-weight: var(--semibold);
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-funcao {
  color: var(--Neutral-500);
  line-height: 1.5;
  text-transform: capitalize;
  display: block;
  text-align: center;
  margin: 0.25rem auto 1rem;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-texto {
  line-height: 1.5;
  text-align: center;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-avaliacao {
  margin: 2rem auto 0;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-avaliacao svg {
  margin: 0 auto;
}
.depoimentos .container-slide .swiper .depoimento-card .depoimento-avaliacao svg path {
  fill: var(--Neutral-400);
}
.depoimentos .container-slide .swiper .depoimento-card.swiper-slide-active .depoimento {
  background: linear-gradient(90deg, #464E6A 0%, #B4B9C9 100%);
  border-color: var(--Neutral-200);
}
.depoimentos .container-slide .swiper .depoimento-card.swiper-slide-active .depoimento * {
  color: var(--Neutral-200);
}
.depoimentos .container-slide .swiper .depoimento-card.swiper-slide-active .depoimento-avaliacao svg path {
  fill: var(--Neutral-200);
}
.depoimentos .container-slide .swiper .swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #464E6A 0%, #B4B9C9 100%);
  box-shadow: 0 0 0 0.125rem var(--Neutral-200), 0 0 0 0.1875rem var(--Neutral-600);
}

@media (min-width: 36rem) {
  .depoimentos .container-slide {
    max-width: none;
  }
}
@media (min-width: 48rem) {
  .depoimento-card {
    width: 26.25rem !important;
  }
}
@media (min-width: 85.375rem) {
  .depoimentos .container-slide .swiper .swiper-pagination {
    margin-top: 4rem;
  }
  .depoimentos .container-slide .swiper .depoimento-card {
    width: 31rem !important;
    max-width: none;
  }
  .depoimentos .container-slide .swiper .depoimento-card .depoimento {
    padding: 3.5rem 3rem 3rem;
  }
  .depoimentos .container-slide .swiper .depoimento-card .depoimento-nome {
    font-size: 1.5rem;
  }
  .depoimentos .container-slide .swiper .depoimento-card .depoimento-texto {
    font-size: 1.125rem;
  }
}
.contato {
  background: var(--Neutral-500);
  padding: 4rem 0;
  overflow-x: hidden;
}
.contato .container {
  flex-direction: column;
}
.contato .container .form-info {
  margin-bottom: 3rem;
}
.contato .container .form-info h2 {
  margin: 0.5rem 0 2rem;
  color: var(--Neutral-200);
}
.contato .container .form-info p {
  color: var(--Neutral-300);
  font-size: 1.25rem;
}
.contato .container .form-wrapper {
  background: var(--Neutral-200);
  border-radius: var(--border-regular);
  padding: 3rem 1.5rem;
}
.contato .container .form-wrapper h3 {
  font-size: 1.25rem;
  font-weight: var(--medium);
  margin-bottom: 2.5rem;
}
.contato .container .form-wrapper form fieldset {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
}
.contato .container .form-wrapper form fieldset:not(:last-child) {
  margin-bottom: 1.25rem;
}
.contato .container .form-wrapper form fieldset label {
  font-weight: var(--medium);
  color: var(--Neutral-500);
  margin-bottom: 0.75rem;
}
.contato .container .form-wrapper form fieldset input,
.contato .container .form-wrapper form fieldset select {
  background: var(--Neutral-300);
  border-radius: var(--border-small);
  padding: 1rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--Neutral-600);
}
.contato .container .form-wrapper form fieldset input::-moz-placeholder, .contato .container .form-wrapper form fieldset select::-moz-placeholder {
  color: var(--Neutral-500);
}
.contato .container .form-wrapper form fieldset input::placeholder,
.contato .container .form-wrapper form fieldset select::placeholder {
  color: var(--Neutral-500);
}
.contato .container .form-wrapper form fieldset .select-wrapper {
  width: 100%;
  position: relative;
}
.contato .container .form-wrapper form fieldset .select-wrapper select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: var(--medium);
}
.contato .container .form-wrapper form fieldset .select-wrapper select option:checked,
.contato .container .form-wrapper form fieldset .select-wrapper select option:hover {
  background-color: var(--Neutral-500);
  color: var(--Neutral-200);
}
.contato .container .form-wrapper form fieldset .select-wrapper::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none"><path d="M7 10.6035L12 15.6035L17 10.6035" stroke="%23464E6A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  position: absolute;
  right: 1.25rem;
  top: 1rem;
}
.contato .container .form-wrapper form button {
  width: 100%;
  height: 3.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 48rem) {
  .contato {
    padding: 5rem 0;
  }
  .contato .container {
    align-items: center;
    justify-content: center;
  }
  .contato .container .form-info,
  .contato .container .form-wrapper {
    width: 31.25rem;
  }
}
@media (min-width: 64rem) {
  .contato .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contato .container .form-info {
    width: 25rem;
  }
  .contato .container .form-wrapper {
    width: 28.125rem;
  }
}
@media (min-width: 85.375rem) {
  .contato {
    padding: 6rem 0;
  }
  .contato .container .form-info,
  .contato .container .form-wrapper {
    width: 32.5rem;
  }
  .contato .container .form-wrapper {
    padding: 3rem 2.5rem;
  }
}
footer {
  background: var(--Neutral-700);
  padding: 4rem 0 1.5rem;
}
footer .container {
  flex-direction: column;
}
footer .container .footer-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .container .footer-info .footer-nav {
  padding: 3.75rem 0 3.5rem;
}
footer .container .footer-info .footer-nav .nav-column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .container .footer-info .footer-nav .nav-column * {
  text-align: center;
  color: var(--Neutral-400);
}
footer .container .footer-info .footer-nav .nav-column a {
  transition: 0.2s ease-in-out;
}
footer .container .footer-info .footer-nav .nav-column a:hover {
  color: var(--Neutral-300);
}
footer .container .footer-info .footer-nav .nav-column li, footer .container .footer-info .footer-nav .nav-column a {
  line-height: 1.5;
}
footer .container .footer-info .footer-nav .nav-column:not(:last-child) {
  margin-bottom: 4rem;
}
footer .container .footer-info .footer-nav .nav-column ul {
  margin: 1.25rem auto 0;
}
footer .container .footer-info .footer-nav .nav-column ul li {
  max-width: 17.5rem;
  font-size: 1.125rem;
}
footer .container .footer-info .footer-nav .nav-column ul li:not(:last-child) {
  margin-bottom: 1rem;
}
footer .container .footer-info .footer-nav .nav-column ul.social-lista {
  display: flex;
}
footer .container .footer-info .footer-nav .nav-column ul.social-lista li:not(:last-child) {
  margin-right: 0.75rem;
}
footer .container .footer-info .footer-nav .nav-column ul.social-lista li .social svg path, footer .container .footer-info .footer-nav .nav-column ul.social-lista li .social svg rect {
  transition: 0.3s ease-in-out;
}
footer .container .footer-info .footer-nav .nav-column ul.social-lista li .social:hover svg rect {
  fill: var(--Neutral-600);
}
footer .container .footer-info .footer-nav .nav-column ul.social-lista li .social:hover svg path {
  fill: var(--Neutral-200);
}
footer .container .footer-credits {
  width: 100%;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .container .footer-credits p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
footer .container .footer-credits p:not(:last-child) {
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  footer .container .footer-info .footer-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .container .footer-info .footer-nav .nav-column {
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .container .footer-info .footer-nav .nav-column:not(:last-child) {
    margin-bottom: 0;
  }
  footer .container .footer-info .footer-nav .nav-column:first-child {
    width: 10rem;
  }
  footer .container .footer-info .footer-nav .nav-column:nth-child(2) {
    width: 14.375rem;
  }
  footer .container .footer-info .footer-nav .nav-column * {
    text-align: left;
  }
  footer .container .footer-info .footer-nav .nav-column ul {
    margin: 1.25rem 0 0;
  }
}
@media (min-width: 64rem) {
  footer .container .footer-info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .container .footer-info .footer-nav {
    width: 72%;
    padding-top: 0;
  }
  footer .container .footer-info .footer-nav .nav-column:first-child {
    width: 8.125rem;
  }
  footer .container .footer-credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .container .footer-credits p:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 85.375rem) {
  footer .container .footer-info #logo img {
    width: 11.625rem;
  }
  footer .container .footer-info .footer-nav {
    width: 56.5rem;
  }
  footer .container .footer-info .footer-nav .nav-column:first-child {
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .container .footer-info .footer-nav .nav-column:nth-child(2) {
    width: 17.5rem;
  }
  footer .container .footer-info .footer-nav .nav-column:last-child {
    width: 13.25rem;
  }
}