@use "../abstracts" as *;

body {
  font-size: 16px;
  font-family: var(--font-sans);
}

.container {
  display: flex;
  padding: 0 to-rem(16);
}

.button {
  height: to-rem(48);
  padding: 0 to-rem(32);
  border-radius: var(--border-regular);
  font-size: to-rem(18);
  font-weight: var(--semibold);
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: to-rem(176);
  width: fit-content;
  background: var(--Neutral-600);
  color: var(--Neutral-200);

  &.--borda {
    background: none;
    color: var(--Neutral-500);
    border: to-rem(1.5) solid currentColor;
  }
}

.section {
  padding-bottom: to-rem(64);

  .subtitulo {
    color: var(--Neutral-400);
    font-size: to-rem(18);
    font-weight: var(--bold);
    line-height: 1.2;
  }

  .highlight {
    color: var(--Neutral-400);
  }

  .underline {
    text-decoration: underline;
    text-decoration-thickness: to-rem(4);
    text-underline-offset: to-rem(4);
    text-decoration-color: var(--Neutral-400);
  }
}

.swiper-pagination {
  position: static !important;
  margin-top: to-rem(40);

  .swiper-pagination-bullet {
    width: to-rem(12);
    height: to-rem(12);
    background: var(--Neutral-300);
    opacity: 1;

    &-active {
      background: var(--Neutral-500);
    }
  }
}
