@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  //TIPOGRAFIA ================================
--font-sans: 'Inter', 'sans-serif';

--bold: 700;
--semibold: 600;
--medium: 500;
--regular: 400;

//CORES ================================
--Neutral-700: #212B38;
--Neutral-600: #464E6A;
--Neutral-500: #6D758F;
--Neutral-400: #B4B9C9;
--Neutral-300: #E1E4ED;
--Neutral-200: #FFFFFF;

//BORDAS ================================
--border-small: 4px;
--border-regular: 8px;
--border-large: 16px;
}
