@use "../abstracts" as *;

footer {
  background: var(--Neutral-700);
  padding: to-rem(64) 0 to-rem(24);

  .container {
    flex-direction: column;

    .footer-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer-nav {
        padding: to-rem(60) 0 to-rem(56);

        .nav-column {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          * {
            text-align: center;
            color: var(--Neutral-400);
          }

          a {
            transition: .2s ease-in-out;

            &:hover {
              color: var(--Neutral-300);
            }
          }

          li, a {
            line-height: 1.5;
          }

          &:not(:last-child) {
            margin-bottom: to-rem(64);
          }

          ul {
            margin: to-rem(20) auto 0;

            li {
              max-width: to-rem(280);
              font-size: to-rem(18);

              &:not(:last-child) {
                margin-bottom: to-rem(16);
              }
            }

            &.social-lista {
              display: flex;

              li {
                &:not(:last-child) {
                  margin-right: to-rem(12);
                }

                .social{
                  svg path, svg rect{
                    transition: .3s ease-in-out;
                  }

                  &:hover svg{
                    rect {
                      fill: var(--Neutral-600);
                    }

                    path {
                      fill: var(--Neutral-200);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .footer-credits {
      width: 100%;
      padding-top: to-rem(32);
      border-top: 1px solid rgba(255, 255, 255, 0.10);

      p {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;

        &:not(:last-child) {
          margin-bottom: to-rem(16);
        }
      }
    }
  }
}

@include media-min(medium) {
  footer .container .footer-info {
    .footer-nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      .nav-column {
        margin: 0;
        align-items: flex-start;
        justify-content: flex-start;

        &:not(:last-child) {
          margin-bottom: 0;
        }

        &:first-child {
          width: to-rem(160);
        }

        &:nth-child(2) {
          width: to-rem(230);
        }

        * {
          text-align: left;
        }

        ul {
          margin: to-rem(20) 0 0;
        }
      }
    }
  }
}

@include media-min(desktop-small) {
  footer .container {
    .footer-info {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      .footer-nav {
        width: 72%;
        padding-top: 0;

        .nav-column:first-child {
          width: to-rem(130);
        }
      }
    }

    .footer-credits {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      p:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }
}

@include media-min(desktop) {
  footer .container .footer-info {
    #logo img{
      width: to-rem(186);
    }

    .footer-nav {
      width: to-rem(904);

      .nav-column:first-child {
        width: fit-content;
      }

      .nav-column:nth-child(2) {
        width: to-rem(280);
      }

      .nav-column:last-child {
        width: to-rem(212);
      }
    }
  }
}