@use "../abstracts" as *;

.servicos {
  overflow: hidden;

  .container {
    flex-direction: column;
    padding-right: 0;

    h2 {
      margin-bottom: to-rem(48);
    }

    .swiper {
      width: 100%;
      padding-right: to-rem(16);
      clip-path: inset(-100vw -100vw -100vw 0);

      @include media-min(small) {
        padding-right: 0;
      }

      .card {
        border-radius: var(--border-regular);
        overflow: hidden;
        box-shadow: 0 to-rem(4) to-rem(16) 0 rgba(180, 185, 201, 0.40);
        width: to-rem(280);

        &-image {
          width: 100%;
          background: var(--Neutral-400);
          height: to-rem(160);
        }

        &-info {
          padding: to-rem(20) to-rem(20) to-rem(32);

          h3 {
            margin-bottom: to-rem(20);
          }

          .card-lista {
            &-item {

              p {
                display: flex;

                &::before {

                  content: url(assets/icon/card-info_icon.svg);
                  margin: to-rem(4) to-rem(10) 0 0;
                }
              }

              &:not(:last-child) {
                margin-bottom: to-rem(16);
              }
            }
          }
        }
      }

      .swiper-button-prev, .swiper-button-next {
        display: none;
      }
    }
  }
}

@include media-min(small) {
  .servicos .container-slide .swiper {
    overflow: visible;
  }
}

@include media-min(desktop) {
  .servicos {
    padding-top: to-rem(96);

    .container-slide .swiper {
      overflow: hidden;

      .swiper-button-next, .swiper-button-prev {
        display: block;
        height: 100%;
        width: to-rem(176);
        top: 0;
        z-index: 7;
        opacity: 1;
        visibility: visible;
        transition: .15s ease-in-out;

        &::after {
          font-size: to-rem(20);
          position: absolute;
          top: 50%;
          color: var(--Neutral-500);
          font-weight: var(--bold);
        }

        &.swiper-button-disabled {
          opacity: 0;
          visibility: hidden;
          transition: .15s ease-in-out;
        }
      }

      .swiper-button-next {
        right: 0;
        background: linear-gradient(270deg, #FFF 16.15%, rgba(255, 255, 255, 0.00) 100%);

        &::after {
          right: 0;
        }
      }

      .swiper-button-prev {
        left: 0;
        background: linear-gradient(90deg, #FFF 16.15%, rgba(255, 255, 255, 0.00) 100%);

        &::after {
          left: to-rem(2);
        }
      }
    }
  }
}