@use "../abstracts" as *;

main {
  //86px de altura do header + 48px de padding top = 134
  padding: to-rem(134) 0 to-rem(64);

  .container {
    flex-direction: column;

    .main-info {
      p {
        margin: 0 auto;
        max-width: to-rem(400);
        text-align: center;
      }

      h1 {
        text-align: center;
        margin: to-rem(40) 0 to-rem(16);
      }

      .button {
        margin: to-rem(40) auto 0;
      }
    }
  }
}

@include media-min(medium) {
  main {
    padding-bottom: to-rem(80);

    .container {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;

      img {
        order: 2;
        max-width: to-rem(360);
        border-radius: var(--border-regular);
      }

      .main-info {

        p,
        h1 {
          text-align: left;
        }

        h1 {
          margin-top: 0;
        }

        p {
          max-width: to-rem(320);
          margin-right: 0;
          margin-left: 0;
        }

        .button {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

@include media-min(desktop) {
  main {
  padding: to-rem(146) 0 to-rem(50);

    .container {      
      img {
        max-width: to-rem(624);
      }

      .main-info {
        max-width: to-rem(488);

        p {
          width: 100%;
          max-width: none;
          font-size: to-rem(18);
        }
      }
    }
  }
}