@use "../abstracts" as *;

.numbers {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .subtitulo {
      text-transform: uppercase;
      text-align: center;
    }

    h2 {
      text-align: center;
      margin: to-rem(8) 0 to-rem(40);
      font-weight: var(--bold);
      padding: 0 to-rem(4);
    }

    .number-item {
      width: 100%;
      max-width: to-rem(384);
      padding: to-rem(40) to-rem(72);

      &:not(:last-child) {
        margin-bottom: to-rem(8);
      }

      h3 {
        font-size: to-rem(56);
        font-weight: var(--bold);
        color: var(--Neutral-500);
        text-align: center;
      }

      p {
        color: #B3BAD0;
        text-align: center;
      }
    }

    .button {
      margin-top: to-rem(48);
    }
  }
}

@include media-min(medium) {
  .numbers .number-lista {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .number-item {
      width: to-rem(220);
      padding: to-rem(40) 0;
    }
  }

}

@include media-min(desktop) {
  .numbers .number-lista .number-item {
    width: to-rem(384);
    padding: to-rem(40) to-rem(72);

    h3 {
      font-size: to-rem(64);
    }
  }
}